@font-face {
	font-weight: normal;
	font-family: "arkb-icon";
	font-style: normal;
	src: url("../../assets/fonts/icomoon.eot?7ajy5");
	src:
		url("../../assets/fonts/icomoon.eot?7ajy5#iefix") format("embedded-opentype"),
		url("../../assets/fonts/icomoon.woff2?7ajy5") format("woff2"),
		url("../../assets/fonts/icomoon.ttf?7ajy5") format("truetype"),
		url("../../assets/fonts/icomoon.woff?7ajy5") format("woff"),
		url("../../assets/fonts/icomoon.svg?7ajy5#icomoon") format("svg");
	font-display: block;
}


[class*="arkb-icon"]::before {
	font-weight: normal;

	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "arkb-icon";
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	text-transform: none;
	// speak: never;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-batsu::before {
	content: "\e900";
}

.icon-check::before {
	content: "\e901";
}

.icon-circle::before {
	content: "\e902";
}
