.arkb-toggle--iconHtml {
	margin-top: -8px !important;
}

.arkb-btns--boxLayout {
	display: flex;

	.components-button.has-icon {
		padding: 8px;

		svg {
			width: 32px;
			height: 32px;
			margin-right: 4px;
		}

		span {
			padding-right: 2px;
		}
	}
}
