.arkb-toggle--iconHtml {
	margin-top: -8px !important;
}

[data-type="arkhe-blocks/box-link"][data-has-icon="false"] {

	.arkb-boxLink__more {
		opacity: .2;
	}
}

.arkb-btns--boxLayout {
	display: flex;

	.components-button.has-icon {
		padding: 8px;

		svg {
			width: 32px;
			height: 32px;
			margin-right: 4px;
		}

		span {
			padding-right: 2px;
		}
	}
}

// a.arkb-boxLink__inner a{
// }
