// :root{}

.ark-block-columns {

	&.is-style-shadow > div > .ark-block-column {
		// padding: 1rem;
		background-color: #fff;
		box-shadow: var(--arkb-shadow);
	}


	.ark-block-column > .wp-block-image {
		max-width: 100%;
	}

	// .components-resizable-box__container {
	// 	display: block !important;
	// }
}

// 横幅設定の動きがわかりやすいように、 is-selected 時は青線見せる
[data-type="arkhe-blocks/column"].is-selected::after {
	box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
}
