.ark-block-slider {
	--arkb-slider-pad-x: 2em;

	&.alignfull[data-inner="article"] {
		--arkb-slider-pad-x: var(--ark-pad--container, 2em);
		max-width: calc(var(--ark-article_width, 1000px) + var(--arkb-slider-pad-x) * 2);
		padding: 2em var(--arkb-slider-pad-x);
	}

	.swiper-container {
		width: 100%;
		height: auto;
	}
}

.ark-block-slider__slide {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	background-color: #cecece; // test
}

.ark-block-slider__txtLayer {
	margin: 0 auto;
	padding: 2em var(--arkb-slider-pad-x);
	// min-height: var(--arkb-section-minH--pc);

}

