.ark-block-slider {

	--arkb-slide-pad: 2em;
	--arkb-slide-pad--sp: 2em;
	// --arkb-slide-content-width: 100%;
	// --arkb-slide-content-width--sp: 100%;
	--swiper-navigation-size: 32px;

	// min-height: calc(100vh - var(--ark-offset_y));

	&.alignfull[data-inner="article"] .ark-block-slider__txtLayer {
		max-width: var(--ark-article_width, 1000px);
	}

	.swiper-container {
		width: 100%;
		height: 100%;
	}

	&[data-height="content"] {
		--arkb-slider-height: auto;
	}

	&[data-height="full"] {
		--arkb-slider-height: calc(100vh - var(--ark-offset_y, 0px));
	}

	&[data-height="custom"] {

		@include sp {

			.ark-block-slider__inner {
				height: var(--arkb-slider-height--sp);
			}
		}
	}

	// エディター側でタブリスト分下にずれるので、高さは__innerへ指定する
	.ark-block-slider__inner {
		height: var(--arkb-slider-height, auto);
	}

	.alignfull {
		left: 0;
		width: 100%;
	}

}


.ark-block-slider__slide {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	text-align: center;

	// .ark-block-slider__txtLayer {
	// 	display: flex;
	// 	flex-direction: column;
	// 	justify-content: center;
	// }

	&.is-position-top-left {
		align-items: flex-start;
		justify-content: flex-start;
		text-align: left;
	}

	&.is-position-top-center {
		align-items: center;
		justify-content: flex-start;
		text-align: center;
	}

	&.is-position-top-right {
		align-items: flex-end;
		justify-content: flex-start;
		text-align: right;
	}

	&.is-position-center-left {
		align-items: flex-start;
		justify-content: center;
		text-align: left;
	}

	// &.is-position-center-center {
	// 	align-items: center;
	// 	justify-content: center;
	// }

	&.is-position-center-right {
		align-items: flex-end;
		justify-content: center;
		text-align: right;
	}

	&.is-position-bottom-left {
		align-items: flex-start;
		justify-content: flex-end;
		text-align: left;
	}

	&.is-position-bottom-center {
		align-items: center;
		justify-content: flex-end;
		text-align: center;
	}

	&.is-position-bottom-right {
		align-items: flex-end;
		justify-content: flex-end;
		text-align: right;
	}
}

// .ark-block-slider.-rich .ark-block-slider__mediaLayer,
// .ark-block-slider__colorLayer {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	display: block;
// 	width: 100%;
// 	height: 100%;
// }

// .ark-block-slider__mediaLayer.-media{

// }

.ark-block-slider__mediaLayer {
	z-index: 0;

	&.c-filterLayer::after {
		background-color: unset;
	}

	.ark-block-slider__picture {
		display: block;
		width: 100%;
		height: 100%;
	}

	.ark-block-slider__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.ark-block-slider__colorLayer {
	z-index: 1;
}

.ark-block-slider__txtLayer {
	// min-height: var(--arkb-section-minH--pc);
	position: relative;
	z-index: 2;
	// width: var(--arkb-slide-content-width);
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: var(--arkb-slide-pad);

	@include sp {
		// width: var(--arkb-slide-content-width--sp);
		padding: var(--arkb-slide-pad--sp);
	}
}

// object-position
.ark-block-slider__video,
.ark-block-slider__img {
	object-position: var(--arkb-object-position, center);

	@include sp {
		object-position: var(--arkb-object-position--sp, center);
	}
}
