.ark-block-slider {
	--arkb-slider-pad-x: 2em;
	--arkb-layer-opacity: .5;

	&.alignfull[data-inner="article"] {
		--arkb-slider-pad-x: var(--ark-pad--container, 2em);
		max-width: calc(var(--ark-article_width, 1000px) + var(--arkb-slider-pad-x) * 2);
		padding: 2em var(--arkb-slider-pad-x);
	}

	.swiper-container {
		width: 100%;
		height: 100%;
	}

	&[data-height="content"] {

		// .swiper-container {
		// 	height: auto;
		// }
	}

	&[data-height="full"] {

		// エディター側でタブリスト分下にずれるので、__innerへ指定する
		.ark-block-slider__inner {
			height: 100vh;
		}
	}

	&[data-height="custom"] {

	}


}

.ark-block-slider__slide {
	position: relative;
	height: 100%;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	background-color: #cecece; // test
}

.ark-block-slider__imgLayer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;

	&.c-filterLayer::after {
		background-color: unset;
	}


	.ark-block-slider__picture {
		display: block;
		width: 100%;
		height: 100%;
	}

	.ark-block-slider__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.ark-block-slider__colorLayer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
}

.ark-block-slider__txtLayer {
	// min-height: var(--arkb-section-minH--pc);
	position: relative;
	z-index: 2;
	margin: 0 auto;
	padding: 2em var(--arkb-slider-pad-x);

	// .ark-block-slider__imgLayer + & {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// }
}

