.ark-block-slider {

	--arkb-slide-pad-x: 2em;
	--arkb-slide-width: 100%;
	--arkb-slide-width--sp: 100%;
	--swiper-navigation-size: 32px;

	@include sp {
		--arkb-slide-pad-x: --arkb-slide-pad-x--sp;
		--arkb-slide-pad-y: --arkb-slide-pad-y--sp;
		--arkb-slide-width: --arkb-slide-width--sp;
	}

	// min-height: calc(100vh - var(--ark-offset_y));

	&.alignfull[data-inner="article"] {
		--arkb-slide-pad-x: var(--ark-pad--container, 2em);
		max-width: calc(var(--ark-article_width, 1000px) + var(--arkb-slide-pad-x) * 2);
		padding: var(--arkb-slide-pad-y) var(--arkb-slide-pad-x);
	}

	.swiper-container {
		width: 100%;
		height: 100%;
	}

	&[data-height="content"] {
		--arkb-slider-height: auto;
	}

	&[data-height="full"] {
		--arkb-slider-height: calc(100vh - var(--ark-offset_y, 0px));
	}

	&[data-height="custom"] {

		@include sp {

			.ark-block-slider__inner {
				height: var(--arkb-slider-height--sp);
			}
		}
	}

	// エディター側でタブリスト分下にずれるので、高さは__innerへ指定する
	.ark-block-slider__inner {
		height: var(--arkb-slider-height, auto);
	}

}


.ark-block-slider__slide {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	background-color: #cecece; // test

	// .ark-block-slider__txtLayer {
	// 	display: flex;
	// 	flex-direction: column;
	// 	justify-content: center;
	// }

	&.is-position-top-left {
		align-items: flex-start;
		justify-content: flex-start;
	}

	&.is-position-top-center {
		align-items: center;
		justify-content: flex-start;
	}

	&.is-position-top-right {
		align-items: flex-end;
		justify-content: flex-start;
	}

	&.is-position-center-left {
		align-items: flex-start;
		justify-content: center;
	}

	// &.is-position-center-center {
	// 	align-items: center;
	// 	justify-content: center;
	// }

	&.is-position-center-right {
		align-items: flex-end;
		justify-content: center;
	}

	&.is-position-bottom-left {
		align-items: flex-start;
		justify-content: flex-end;
	}

	&.is-position-bottom-center {
		align-items: center;
		justify-content: flex-end;
	}

	&.is-position-bottom-right {
		align-items: flex-end;
		justify-content: flex-end;
	}
}

.ark-block-slider__imgLayer,
.ark-block-slider__colorLayer {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.ark-block-slider__imgLayer {
	z-index: 0;

	&.c-filterLayer::after {
		background-color: unset;
	}

	.ark-block-slider__picture {
		display: block;
		width: 100%;
		height: 100%;
	}

	.ark-block-slider__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.ark-block-slider__colorLayer {
	z-index: 1;
}

.ark-block-slider__txtLayer {
	// min-height: var(--arkb-section-minH--pc);
	position: relative;
	z-index: 2;
	width: var(--arkb-slide-width);
	max-width: 100%;
	margin: 0;
	padding: var(--arkb-slide-pad-y) var(--arkb-slide-pad-x);

	// .ark-block-slider__imgLayer + & {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// }
}

// object-position
.ark-block-slider__video,
.ark-block-slider__img {
	object-position: var(--arkb-object-position, center);

	@include sp {
		object-position: var(--arkb-object-position--sp, center);
	}
}
