// Gutenberg
[data-type="arkhe-blocks/slider"] {

	--arkb-slide-width: 100%;
	--arkb-slide-space: 0px;

	position: relative;
	padding: 8px 8px;
	border: dashed 1px $color_guide;


	[data-type="arkhe-blocks/slider-item"] {
		max-width: 100%;
	}

	// .__body {
	// 	margin-left: calc(0 - var(--arkb-slide-space, 0px)) !important;
	// }

	.ark-block-slider__inner {
		position: relative;
		display: flex;
		justify-content: flex-start;
		overflow-x: scroll;
		overflow-y: auto;
		scroll-behavior: smooth;
		// scroll-snap-type: x mandatory;

		// & > .block-list-appender {
		// 	display: none !important;
		// }

	}

	// センター表示時の余白合わせ
	&[data-is-center="true"] .ark-block-slider__inner {

		&::before,
		&::after {
			display: block;
			flex-grow: 0;
			flex-shrink: 0;
			align-self: stretch;
			width: calc(var(--arkb-slide-width, 0px) / 2);
			margin: 0 !important;
			background-color: rgba(0, 0, 0, .1);
			content: "";
		}

	}

	// &[data-is-center="true"] > .ark-block-slider__inner > .ark-block-slider__slide:first-child {
	// 	margin-left: calc((100% - var(--arkb-slide-width, 100%)) / 2) !important;
	// }

	.ark-block-slider__slide {
		flex-grow: 0;
		flex-shrink: 0;
		width: calc(var(--arkb-slide-width, 100%) - var(--arkb-slide-space, 0px) / 2);
		max-width: 100%;
		margin: 0 var(--arkb-slide-space, 0px) 0 0 !important;

		.wp-block {
			max-width: 100%;
		}
	}

	&.has-child-selected,
	&.is-selected {

		.ark-block-slider__bodyInner {
			border: dashed 1px $color_guide;
		}

	}

	.__navigation {
		display: flex;
		align-items: center;
		// justify-content: center;

		&.-top {
			justify-content: flex-end;
			margin-bottom: 8px;
		}

		&.-bottom {
			justify-content: center;
			margin-top: 8px;
		}

		.components-button {
			display: block;
			width: 32px;
			min-width: unset;
			height: 32px;
			margin: 4px;
			padding: 4px;
		}

		.__dot {

			.components-button {
				// border-radius: 12px;
			}
		}

		.__add {
			// margin-left: 16px;

			.components-button {
				display: flex;
				align-items: center;
				width: auto;
				padding-right: 8px;

				svg {
					display: block;
					margin-right: 2px;
				}
			}
		}

	}

	.ark-block-slider {
		position: relative;
	}

	.__prev,
	.__next {
		position: absolute;
		top: 50%;
		z-index: 10;
		padding: 0;
		transform: translateY(-50%);


		.components-button {
			width: auto;
			min-width: 0;
			height: auto;
			min-height: 0;
			padding: 4px;
			color: var(--swiper-theme-color);
			border-radius: 50%;
		}

		svg {
			//親の.ark-block-sliderにcss変数は定義されている.
			width: var(--swiper-navigation-size);
			height: var(--swiper-navigation-size);
			// transform: scale(1.25); // wordpressアイコンの矢印は少し小さいので拡大。
		}

		&.-off {
			opacity: .3;
			pointer-events: none;
		}
	}

	.__prev {
		left: 10px;
	}

	.__next {
		right: 10px;
	}

}

.arkb-toolBtn--deleteSlide {

	svg {
		margin-right: 0 !important;
	}
}

.arkb-panel--slideHeight {

	.components-base-control {
		margin-bottom: 8px;
	}

}
