// Gutenberg
[data-type="arkhe-blocks/slider"] {
	position: relative;
	padding: 32px 24px 24px;
	border: dashed 1px $color_guide;
}

.ark-block-slider{}

.ark-block-slider__item {
	padding: 2em;
	background-color: #cecece;

}
