// Gutenberg
[data-type="arkhe-blocks/slider"] {
	position: relative;
	padding: 32px 8px 8px;
	border: dashed 1px $color_guide;

	[data-type="arkhe-blocks/slider-item"] {
		max-width: 100%;
	}

	.arkb-tabList {
		margin-bottom: 8px !important;
	}

	.arkb-tabList__button {
		padding: .5em 1em;
	}


	.ark-block-slider__inner {

		& > .block-list-appender {
			display: none !important;
		}
	}

	.ark-block-slider__slide {

	}

}
