// Gutenberg
[data-type="arkhe-blocks/slider"] {
	position: relative;
	padding: 8px 8px;
	border: dashed 1px $color_guide;
	--arkb-slide-width: 100%;

	[data-type="arkhe-blocks/slider-item"] {
		max-width: 100%;
	}

	.arkb-tabList {
		margin-bottom: 8px !important;
	}

	.arkb-tabList__button {
		padding: .5em 1em;
	}

	.ark-block-slider__inner {
		position: relative;
		display: flex;
		justify-content: flex-start;
		overflow-x: scroll;
		overflow-y: auto;
		counter-reset: item;
		scroll-behavior: smooth;
		scroll-snap-type: x mandatory;

		&::before,
		&::after {
			display: block;
			flex-grow: 0;
			flex-shrink: 0;
			align-self: stretch;
			width: 0;
			width: var(--arkb-slide-offset, 0);
			margin: 0 var(--arkb-slide-space, 0px) !important;
			background-color: rgba(0, 0, 0, .1);
			content: "";
		}

		// & > .block-list-appender {
		// 	display: none !important;
		// }
	}

	// &[data-is-center="true"] > .ark-block-slider__inner > .ark-block-slider__slide:first-child {
	// 	margin-left: calc((100% - var(--arkb-slide-width, 100%)) / 2) !important;
	// }

	.ark-block-slider__slide {
		flex-grow: 0;
		flex-shrink: 0;
		width: var(--arkb-slide-width, 100%);
		max-width: 100%;
		margin: 0 var(--arkb-slide-space, 0px) 0 0 !important;

		.wp-block {
			max-width: 100%;
		}
	}

	.__navigation {
		display: flex;
		align-items: center;
		// justify-content: center;

		&.-top {
			justify-content: flex-end;
			margin-bottom: 8px;
		}

		&.-bottom {
			justify-content: center;
			margin-top: 8px;
		}

		.components-button {
			display: block;
			width: 32px;
			min-width: unset;
			height: 32px;
			margin: 4px;
			padding: 4px;
		}

		.__dot {

			.components-button {
				// border-radius: 12px;
			}
		}

		.__add {
			// margin-left: 16px;

			.components-button {
				display: flex;
				align-items: center;
				width: auto;
				padding-right: 8px;

				svg {
					display: block;
					margin-right: 2px;
				}
			}
		}

	}

}

.arkb-toolBtn--deleteSlide {

	svg {
		margin-right: 0 !important;
	}
}

.arkb-panel--slideHeight {

	.components-base-control {
		margin-bottom: 8px;
	}

}
