.swiper-container {
	width: 600px;
	height: 300px;
}


.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	font-size: 18px;
	text-align: center;
	background: #ccc;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
}
