
// トグルコントロールが集まったエリア
.arkb-toggles {

	.components-base-control {
		margin-bottom: 12px;
	}
}


// メディアURL
.arkb-input--mediaUrl {
	margin-bottom: 8px !important;
}

// メディアボタン & 削除ボタン
.arkb-btns--media {
	margin-bottom: 24px;

	.__delete {
		margin-left: 8px;
	}
}


// 小さく表示したいボタン ( isSmall だと小さくなりすぎる時用)
.arkb-btns--small {

	.components-button {
		height: 32px;
		padding: 6px 8px;
		font-size: 12px;
	}
}


// リセット付きレンジコントロール
.arkb-range--useReset {

	.components-range-control__root {
		flex-wrap: wrap;
	}

	.css-uojzqi-ActionRightWrapper {
		width: 100%;
		margin-top: 8px;
		text-align: right;
	}

	.components-range-control__reset {
		height: auto !important;
		min-height: 0 !important;
		box-shadow: none !important;
	}
}

// ヘルプテキスト詰まりすぎなので打ち消し
.components-base-control .components-base-control__help {
	margin-top: -4px;
}

// カラーピッカーの表示が崩れているのを修正
.arkb-colorPicker {

	.components-color-picker__inputs-wrapper {
		width: 100%;
		min-width: 0;
	}

	.components-color-picker__inputs-field {
		margin-bottom: 0 !important;
	}
}
