.arkb-columns {
	display: block !important;
	margin-bottom: 0 !important;

	& > .block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-right: -.75rem;
		margin-left: -.75rem;
	}

	[data-align="full"] > & {
		margin-right: 0;
		margin-left: 0;
	}

	&[data-valign="top"] > .block-editor-block-list__layout {
		align-items: flex-start;
	}

	&[data-valign="center"] > .block-editor-block-list__layout {
		align-items: center;
	}

	&[data-valign="bottom"] > .block-editor-block-list__layout {
		align-items: flex-end;
	}

	.arkb-columns__item {
		margin: 0 .75rem 1.5rem !important;
	}


	// ブロック追加ボタン
	& > .block-editor-block-list__layout > .block-list-appender {
		flex-basis: 80% !important;
		margin-left: 10%;
	}

	&:not(.is-selected):not(.has-child-selected) {

		& > .block-editor-block-list__layout > .block-list-appender {
			display: none;
		}
	}
}
