
.arkb-null-icon {
	display: block;
	width: 10px;
	height: 10px;
	margin-right: 8px;
	background: transparent;
	// border: solid 4px #000;
	border-radius: 2px;
	box-shadow: inset 0 0 0 1px #464646;

	.is-active & {
		background: #111;
		background: var(--wp-admin-theme-color, #000);
	}
}
