.ark-block-section {
	position: relative;

	// セクションを入れ子にした時に、親セクションの影響を受けないようにする
	--arkb-section-padding: 4rem 2rem;
	--arkb-section-padding--sp: 4rem 2rem;
	--arkb-section-minH: "none";
	--arkb-section-minH--sp: "none";
}

.ark-block-section__media {
	z-index: 0;
}

.ark-block-section__color {
	z-index: 1;
}


.ark-block-section__body {
	position: relative;
	z-index: 2;
	display: flex;
	width: 100%;
	max-width: var(--ark-article_width, 1000px);
	margin: 0 auto;

	[data-height="full"] > & {
		height: calc(100vh - var(--ark-offset_y, 0px));
	}

	[data-height="custom"] > & {
		min-height: var(--arkb-section-minH);

		@include sp {
			min-height: var(--arkb-section-minH--sp);
		}
	}

	[data-inner="full"] > & {
		max-width: 100%;
	}

	&[data-content="top-left"] {
		align-items: flex-start;
		justify-content: flex-start;
	}

	&[data-content="top-center"] {
		align-items: flex-start;
		justify-content: center;
		text-align: center;
	}

	&[data-content="top-right"] {
		align-items: flex-start;
		justify-content: flex-end;
		text-align: right;
	}

	&[data-content="center-left"] {
		align-items: center;
		justify-content: flex-start;
	}

	&[data-content="center-center"] {
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	&[data-content="center-right"] {
		align-items: center;
		justify-content: flex-end;
		text-align: right;
	}

	&[data-content="bottom-left"] {
		align-items: flex-end;
		justify-content: flex-start;
	}

	&[data-content="bottom-center"] {
		align-items: flex-end;
		justify-content: center;
		text-align: center;
	}

	&[data-content="bottom-right"] {
		align-items: flex-end;
		justify-content: flex-end;
		text-align: right;
	}
}


.ark-block-section__inner {

	width: 100%;
	padding: var(--arkb-section-padding);

	@include sp {
		padding: var(--arkb-section-padding--sp);
	}
}


// 過去のものに対するスタイル
.ark-block-section:not([data-v="2"]) {
	--arkb-section-pad--sp: 4rem;
	--arkb-section-pad--sp: 4rem;
	--arkb-section-minH--pc: "none";
	--arkb-section-minH--sp: "none";

	.ark-block-section__inner {
		min-height: var(--arkb-section-minH--pc);
		padding: var(--arkb-section-pad--pc, 4rem) var(--ark-pad--container, 48px);

		@include sp {
			min-height: var(--arkb-section-minH--sp);
			padding: var(--arkb-section-pad--sp, 4rem) var(--ark-pad--container, 4vw);
		}
	}
}


// fill の詳細度をあげる
.ark-block-section .ark-block-section__svg {
	position: absolute;
	left: 0;
	z-index: 5;
	width: 100%;
	pointer-events: none;
	fill: var(--ark-color_bg, #fff);

	&.-top {
		top: -1px;
	}

	&.-bottom {
		bottom: -1px;
		transform: rotate(180deg);
		// transform: translateY(-1px); // 線が出ることがあるのを防止
	}
}
