.ark-block-accordion {
}

.ark-block-accordion__item {

	& + & {
		margin-top: 1rem;
	}
}

.ark-block-accordion__title {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .75em 1em;
	background: var(--ark-color_gray, #f7f7f7);
	cursor: pointer;
}

.ark-block-accordion__label {
	flex: 1 1 auto;
	padding-right: 1em;
	word-break: break-all;
}

.ark-block-accordion__body {
	height: auto;
	padding: 1em;
	overflow: hidden;
	opacity: 1;
	transition: .25s;

	&[aria-hidden="true"] {
		height: 0;
		padding: 0 1em;
		opacity: 0;
	}
}


.ark-block-accordion__icon {
	position: relative;
	display: block;
	flex: 0 0 auto;
	width: 1.25em;
	// height: 1em;
	font-size: 1.25em;
	text-align: center;

	// .__icon--closed,
	// .__icon--opened,
	.arkb-icon {
		display: block;
		width: 100%;
		font-size: inherit;
		line-height: 1;
		transition: transform .25s, opacity .25s;
	}

	.__icon--closed {
		transform: scale(1) rotate(0);

		&::before {
			content: "\e900";
		}
	}

	.__icon--opened {
		position: absolute;
		top: 0;
		left: 0;
		transform: scale(.5) rotate(-180deg);
		opacity: 0;

		&::before {
			content: "\e901";
		}
	}

	&[data-opened="true"] {

		& > .__icon--closed {
			transform: scale(.5) rotate(180deg);
			opacity: 0;
		}

		& > .__icon--opened {
			transform: scale(1) rotate(0);
			opacity: 1;
		}
	}
}
