:root {
	--arkb-section-pad--pc: 4rem;
	--arkb-section-pad--sp: 4rem;
}

.ark-block-section {
	position: relative;
	padding: var(--arkb-section-pad--pc) var(--ark-pad--container, 48px);

	@include sp {
		padding: var(--arkb-section-pad--sp) var(--ark-pad--container, 4vw);
	}

	&.has-bg-img {

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			background-color: inherit;
			content: "";
		}
	}
}

.ark-block-section__inner {
	position: relative;
	z-index: 2;
	max-width: var(--ark-article_width, 1000px);
	margin: 0 auto;

	[data-inner="full"] > & {
		max-width: 100%;
	}

}


.ark-block-section__bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// fill の詳細度をあげる
.ark-block-section .ark-block-section__svg {
	position: absolute;
	left: 0;
	z-index: 5;
	width: 100%;
	pointer-events: none;
	fill: var(--ark-color_bg, #fff);

	&.-top {
		top: -1px;
	}

	&.-bottom {
		bottom: -1px;
		transform: rotate(180deg);
		// transform: translateY(-1px); // 線が出ることがあるのを防止
	}
}

.swell-block-fullWide__SVG {
	position: absolute;
	left: 0;
	z-index: 5;
	width: 100%;
	pointer-events: none;

	&.-top {
		bottom: 100%;
		transform: translateY(1px); // 線が出ることがあるのを防止
	}

	&.-bottom {
		top: 100%;
		transform: translateY(-1px); // 線が出ることがあるのを防止
	}

	&.-bg {
		// background-repeat: repeat-x;
		background-repeat: no-repeat;
		background-size: 100% 100%;

		// pxが小数点になると境目にスペースが入ってしまう
		// @include sp {
		//     background-size: calc(100% - 10px) 100%;
		// }

		// @include pc {
		//     background-size: calc(100% - 20px) 100%;
		// }

		&.-top {
			// background-position: 100% 100%;
			background-position: center;
		}

		&.-bottom {
			// background-position: -100% 0%;
			background-position: center;
		}
	}
}

