.ark-block-section {
	// ブロック選択時の青線を上に
	&::after {
		z-index: 10 !important;
	}

	.ark-block-section__bg.u-only-pc {

		@include pc {
			opacity: 1;
		}

		@include sp {
			opacity: 0;
		}
	}

	.ark-block-section__bg.u-only-sp {

		@include pc {
			opacity: 0;
		}

		@include sp {
			opacity: 1;
		}
	}
}


.ark-block-section__inner {

	.wp-block {
		max-width: 100%;
	}
}

.ark-block-section__bg {
	height: 100% !important;
}


// サイドバー
.ark-control--padding {
	display: flex;
	flex-wrap: wrap;
	// align-items: center;

	.__label {
		flex-basis: 100%;
		margin-bottom: 8px;
	}

	.components-base-control {
		flex-basis: 36%;

		&.__input {
			flex-basis: 60%;
			margin-right: 4%;
		}
	}

	// .components-base-control{}
}


.arkb-tabPanel.-section {

	.components-tab-panel__tab-content {
		padding-top: 16px;
	}
}
