.ark-block-section {
	// ブロック選択時の青線を上に
	&::after {
		z-index: 10 !important;
	}

	.ark-block-section__bg.u-only-pc {

		@include pc {
			opacity: 1;
		}

		@include sp {
			opacity: 0;
		}
	}

	.ark-block-section__bg.u-only-sp {

		@include pc {
			opacity: 0;
		}

		@include sp {
			opacity: 1;
		}
	}
}


.ark-block-section__inner {

	& > .wp-block {
		max-width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
}

.ark-block-section__bg {
	height: 100% !important;
}


// サイドバー
.ark-control--padding {
	display: flex;
	flex-wrap: wrap;
	// align-items: center;

	& + .ark-control--padding {
		margin-top: -8px;
	}

	.__label {
		flex-basis: 100%;
		margin-bottom: 8px;
	}

	.components-base-control {
		flex-basis: 36%;

		&.__input {
			flex-basis: 60%;
			margin-right: 4%;
		}
	}

	// .components-base-control{}
}

.arkb-btns--svg {

	display: flex;

	.components-button {
		flex: 1;
		height: auto;
		padding: 6px !important;
		color: #424448;
		background: #fff !important;
		border: solid 2px #fff;
		border-radius: 4px;
		box-shadow: inset 0 0 0 6px currentColor !important;

		svg {
			display: block;
			width: 100%;
			color: inherit;
			fill: currentColor;
		}
	}

	.is-primary.components-button {
		color: var(--wp-admin-theme-color) !important;
		// background: #fff;
	}

	&.-bottom {

		svg {
			transform: rotate(-180deg);
		}
	}
}


.arkb-tabPanel {

	&.-section {

		.components-tab-panel__tab-content {
			padding-top: 16px;
		}

		.components-tab-panel__tabs {
			border-bottom: 1px solid #e0e0e0;
		}
	}
	// sectionブロックでタブ部分非表示にする場合
	&.is-hide {

		.components-tab-panel__tabs {
			display: none;
		}
	}

	&.is-hide.-section .components-tab-panel__tab-content {
		padding-top: 0;
	}

	&.has-no-pcimg {

		.components-tab-panel__tabs-item.__sp {
			opacity: .5;
			pointer-events: none;
		}
	}
}
