.ark-block-boxLinks {
	display: flex;
	flex-wrap: wrap;
	margin-right: -.75rem;
	margin-bottom: -1.5rem;
	margin-left: -.75rem;
}

.ark-block-boxLink {
	flex-basis: 100%;
	margin: 0 .75rem 1.5rem;

	[data-column="3"] > & {
		flex-basis: calc(33.3% - 1.5rem);
	}

	[data-column="2"] > & {
		flex-basis: calc(50% - 1.5rem);
	}

	@include tab {

		// [data-tab-column="4"] > & {
		// 	flex-basis: calc(25% - 1.5rem);
		// }

		[data-tab-column="3"] > & {
			flex-basis: calc(33.3% - 1.5rem);
		}

		[data-tab-column="2"] > & {
			flex-basis: calc(50% - 1.5rem);
		}

		[data-tab-column="1"] > & {
			flex-basis: 100%;
		}
	}

	@include pc {

		[data-pc-column="4"] > & {
			flex-basis: calc(25% - 1.5rem);
		}

		[data-pc-column="3"] > & {
			flex-basis: calc(33.3% - 1.5rem);
		}

		[data-pc-column="2"] > & {
			flex-basis: calc(50% - 1.5rem);
		}

		[data-pc-column="1"] > & {
			flex-basis: 100%;
		}
	}
}


// ボックスリンク
.c-boxLink {
	background-color: #fff;
	box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .1);
	transition: box-shadow .25s;

	&:hover {
		box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .15);

		.c-boxLink__more__svg {
			transform: translateX(4px);
		}
	}

	// htag時の優先度を考慮してネスト
	.c-boxLink__title {
		font-weight: bold;
		font-size: 1.1rem;
	}

}

.c-boxLink__inner {
	display: block;
	display: flex;
	flex-direction: column;
	height: 100%;
	color: inherit;
	text-decoration: none;
}

.c-boxLink__figure {
	position: relative;
	margin: 0;
	overflow: hidden;

	&.-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 2rem 2rem 0;
	}

	svg {
		display: block;
		width: var(--arkb-boxlink_icon_size, 80px);
		height: var(--arkb-boxlink_icon_size, 80px);
		// font-size: var(--arkb-boxlink_icon_size, 80px);
		fill: currentColor;
	}

	i {
		display: block;
		// width: var(--arkb-boxlink_icon_size, 80px);
		// height: var(--arkb-boxlink_icon_size, 80px);
		font-size: var(--arkb-boxlink_icon_size, 80px);
		// fill: currentColor;
	}
}

.c-boxLink__img {
	display: block;
	width: 100%;
}

// .c-boxLink__icon {}

.c-boxLink__body {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 1.25rem 1rem;
}

.c-boxLink__content {
	margin-top: .5rem;
	font-size: .9rem;
}

.c-boxLink__more {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: auto 0 0;
	padding-top: .5rem;
	font-size: .75rem;
	text-align: right;
}

.c-boxLink__more__svg {
	margin-left: .5em;
	transition: transform .25s;
	fill: currentColor;
}

// 画像の比率を固定。
.c-boxLink__figure.is-fixed-ratio {
	padding-top: var(--ark-thumb_ratio);

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.c-boxLink.-horizontal {

	.c-boxLink__inner {
		flex-direction: row;
		align-items: center;
	}

	.c-boxLink__figure {
		flex: 1 0 40%;
		height: 100%;

		&.-icon {
			flex-basis: auto;
			padding: 0 0 0 1.5rem;
		}
	}

	.c-boxLink__body {
		flex: 1 1 100%;
	}
}


.c-boxLink.is-style-banner {
	color: #fff;

	.c-boxLink__inner {
		position: relative;
	}

	.c-boxLink__body {
		position: relative;
		z-index: 1;
		padding: 2rem 1.5rem;
	}
}

.c-boxLink__bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	margin: 0;

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		display: block;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: .5;
		content: "";
	}

}


.c-boxLink__bg .c-boxLink__img,
.c-boxLink.-horizontal .c-boxLink__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


// センター寄せ
.c-boxLink.has-text-align-center {

	.c-boxLink__more {
		justify-content: center;
	}

	.c-boxLink__more__svg {
		margin-right: -1em;
	}
}


// 丸くする
// .c-boxLink__figure.is-circle {
// 	padding: 2rem 0 1rem;

// 	img {
// 		width: 140px;
// 		height: 140px;
// 		margin: 0 auto;
// 		object-fit: cover;
// 		border-radius: 50%;
// 	}
// }
