[data-type="arkhe-blocks/box-links"] {

	.components-placeholder.c-boxLink__bg {

		&::after {
			content: none;
		}

		& ~ .c-boxLink__body,
		& ~ .c-boxLink__figure {
			background: #555;
		}
	}
}

