[data-type="arkhe-blocks/box-links"] {

	// display: block !important;

	// .ark-block-boxLinks {}

	& > .block-editor-block-list__layout {

		& > .block-list-appender {
			width: 80%;
			margin: 1em 10% 0;
		}
	}

	// .ark-block-boxLink {}
}

