[data-type="arkhe-blocks/post-list"],
[data-type="arkhe-blocks/page-list"],
[data-type="arkhe-blocks/rss"] {

	.p-postList {
		box-sizing: border-box;
		padding: 0;
		list-style: none !important;

		// コアの ul へのCSS上書き
		&:not(.-type-card) {
			margin-right: 0;
			margin-left: 0;
		}
	}

	.p-postList__excerpt {

		p {
			margin: 0 !important;
		}
	}

	a {
		pointer-events: none;
	}
}

.arkb-panel--pickupTax {

	.components-select-control__input[multiple] {
		min-height: 8em !important;
		padding: 8px;

		& + .components-input-control__suffix {
			display: none;
		}
	}

	.arkb-btns--relation {
		margin-top: -16px;
	}

	.arkb-select--term {
		margin-top: -16px;
	}

	// .-exCatChildren {
	.arkb-check--exCatChild {
		margin-top: -16px;
		margin-bottom: 16px;
		padding-bottom: 4px;
	}
}
