// ボックスリンク
.arkb-boxLink {
	box-shadow: var(--arkb-shadow);

	// htag時の優先度を考慮してネスト
	.arkb-boxLink__title {
		font-weight: bold;
		font-size: 1rem;
	}
}

.arkb-boxLink__inner {
	display: flex;
	flex-direction: column;
	height: 100%;
	color: inherit;
	text-decoration: none;
	background-color: #fff;
	// box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .1);
	transition: box-shadow .25s;
}

// リンクホバー時
a.arkb-boxLink__inner:hover {
	// box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 4px 32px -8px rgba(0, 0, 0, .1);

	.arkb-boxLink__more__svg {
		transform: translateX(4px);
	}
}

.arkb-boxLink__figure {
	position: relative;
	margin: 0;
	overflow: hidden;

	&.-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 2rem 2rem 0;

		svg {
			display: block;
			width: var(--arkb-boxlink_icon_size, 80px);
			height: var(--arkb-boxlink_icon_size, 80px);
			fill: currentColor;

			path {
				fill: inherit;
			}
		}

		path {
			fill: inherit;
		}

		i {
			display: block;
			font-size: var(--arkb-boxlink_icon_size, 80px);
		}
	}

	&.is-fixed-ratio {
		padding-top: var(--ark-thumb_ratio);
	}

}

.arkb-boxLink__img {
	display: block;
	width: 100%;

	.is-fixed-ratio > & {
		position: absolute;
		top: 0;
		left: 0;
	}
}

// .arkb-boxLink__icon {}

.arkb-boxLink__body {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 1.25rem 1rem;
}

.arkb-boxLink__content {
	margin-top: .5rem;
	font-size: .9rem;
}

.arkb-boxLink__more {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: auto 0 0;
	padding-top: 1rem;
	font-size: .75rem;
	line-height: 1;
	text-align: right;
}

.arkb-boxLink__more__svg {
	margin-left: .5em;
	transition: transform .25s;
	fill: currentColor;
}


.arkb-boxLink.-horizontal {

	.arkb-boxLink__inner {
		flex-direction: row;
		// align-items: center;
		align-items: stretch;
	}

	.arkb-boxLink__figure {
		flex: 1 0 40%;
		// height: 100%;

		&.-icon {
			flex-basis: auto;
			padding: 0 0 0 1.5rem;
		}
	}

	.arkb-boxLink__body {
		flex: 1 1 100%;
	}
}


.arkb-boxLink.is-style-banner {
	color: #fff;

	.arkb-boxLink__inner {
		position: relative;
	}

	.arkb-boxLink__figure {
		z-index: 1;
	}

	.arkb-boxLink__body {
		position: relative;
		z-index: 1;
		padding: 2rem 1.5rem;
	}

}

.arkb-boxLink__bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	margin: 0;

	// 未選択時
	&.components-placeholder {
		position: absolute;
		z-index: 10;
	}
}

.arkb-boxLink__layer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .5;
}

// センター寄せ
.arkb-boxLink.has-text-align-center {

	.arkb-boxLink__more {
		justify-content: center;
	}

	.arkb-boxLink__more__svg {
		margin-right: -1em;
	}
}


// 丸くする
// .arkb-boxLink__figure.is-circle {
// 	padding: 2rem 0 1rem;

// 	img {
// 		width: 140px;
// 		height: 140px;
// 		margin: 0 auto;
// 		object-fit: cover;
// 		border-radius: 50%;
// 	}
// }
