// 関連記事
[data-type="arkhe-block/blog-card"] {
	padding: 16px;

	.p-blogCard {
		color: inherit;
		text-decoration: none;
	}

	&:not(.is-selected):not(.has-child-selected) {

		.block-editor-media-placeholder {
			display: none;
		}
	}

}



// プレビューエリア
.ark-block-blogCard__preview {
	margin: 0 0;

	& > div {
		pointer-events: none;
	}


	.p-blogCard {
		margin: 0 0;
	}

	&.-none {
		padding: 16px;
		font-size: 14px;
		border: dashed 1px $color_guide;
	}
}


// コントロールエリア
.ark-block-blogCard__controls {
	margin-top: 1rem;
}

.ark-block-blogCard__inputWrapper {
	margin-top: .5em;

	.components-base-control__field {
		margin-bottom: 0;
	}

	input {
		min-height: 0 !important;
		padding: 8px !important;
		font-size: 13px !important;
		line-height: 1.5 !important;
		border: solid 1px #ddd !important;
		border-radius: 0 !important;
	}

	.__internalArea {
		display: flex;
		align-items: flex-start;
	}

	.__idInput {
		width: 8em;
	}

	.__urlInput { //.block-editor-url-input
		margin-left: .75em;
		padding: 0;

		input {
			width: 100% !important;
		}
	}

	.__externalInput {
		width: 100%;
	}
}

// スマホでもURLインプットのサジェスチョンを出す。
@include mobile {

	.block-editor-url-input__suggestions {
		display: inherit;
	}
}

// 「新しいタブで開く」のコントロール
.components-toggle-control.-is-external {
	opacity: .5;
	pointer-events: none;
}
