@font-face {
	font-weight: normal;
	font-family: "arkb-icon";
	font-style: normal;
	src: url("../../assets/");
	src:
		url("../../assets/#iefix") format("embedded-opentype"),
		url("../../assets/fonts/icomoon.woff2?apgfqx") format("woff2"),
		url("../../assets/fonts/icomoon.ttf?apgfqx") format("truetype"),
		url("../../assets/fonts/icomoon.woff?apgfqx") format("woff"),
		url("../../assets/fonts/icomoon.svg?apgfqx#icomoon") format("svg");
	font-display: block;
}

// [class^="arkb-icon-"],
[class*="arkb-icon"]::before {
	font-weight: normal;

	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "arkb-icon";
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	text-transform: none;
	// speak: never;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.arkb-icon-add::before {
	content: "\e900";
}

.arkb-icon-remove::before {
	content: "\e901";
}
