@charset "utf-8";

/*
 * エディターのみで読み込むCSS
 */
@import "mixin/**";
@import "icon";
@import "../blocks/**/_common.scss";
@import "../blocks/**/_editor.scss";

// 余白を小さくするエリア。
// の中 / 全幅じゃないカラムブロックメディアと文章ブロックの中 / 通常幅のカバー・グループブロックの中

.ark-keep-mt--s {

	& > .block-editor-block-list__block {
		margin-top: var(--ark-mt_s, 1rem);
	}
}

// ガイド線を表示する
$color_guide: rgba(123, 134, 162, .3);//#b8c7da;
.branch-5-5 {

	.ark-has-guide {

		&.has-child-selected::after {
			border: dashed 1px $color_guide;
		}
	}

	// ガイド線を少し外側に
	.is-root-container > .ark-has-guide {

		&::after {
			top: -8px !important;
			right: -8px !important;
			bottom: -8px !important;
			left: -8px !important;
		}
	}

	// [data-type="loos/balloon"],
	// [data-type="loos/step-item"] {

	// 	&::after {
	// 		top: -4px !important;
	// 		bottom: -4px !important;
	// 	}
	// }

}
