@charset "utf-8";

/*
 * エディターのみで読み込むCSS
 */
@import "mixin/**";
// @import "icon";
@import "../blocks/**/_common.scss";
@import "../blocks/**/_editor.scss";

.ark-iconPicker {

	display: flex;
	flex-wrap: wrap;

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20%;
		margin: -1px -1px 0 0 !important;
		padding: 8px;
		border-radius: 0;
	}

	svg {
		width: 16px;
		height: 16px;
	}

	i {
		font-size: 16px;
	}
}

.ark-blocks-help {
	margin: 16px 0;

	.components-panel__body-title + & {
		margin-top: 0;
	}

}

// 余白を小さくするエリア。
// の中 / 全幅じゃないカラムブロックメディアと文章ブロックの中 / 通常幅のカバー・グループブロックの中
.ark-keep-mt--s {

	& > .block-editor-block-list__block {
		margin-top: var(--ark-mt_s, 1rem);
	}
}

// ガイド線を表示する
$color_guide: rgba(123, 134, 162, .3);//#b8c7da;
.branch-5-5 {

	.ark-has-guide {

		&.has-child-selected::after {
			border: dashed 1px $color_guide;
		}
	}

	// ガイド線を少し外側に
	.is-root-container > .ark-has-guide {

		&::after {
			top: -8px !important;
			right: -8px !important;
			bottom: -8px !important;
			left: -8px !important;
		}
	}

}

// ヘッダーツールバー（「投稿を表示する」）。
.ark-custom-header-toolbar {
	align-self: center;
	margin-left: 12px;
}
