.arkb-tabList {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0;
	// padding: 0;
	list-style: none !important;

	// 詳細度高める
	.ark-block-tab > & {
		padding: 0;
		// padding-left: 0;
	}


	&::-webkit-scrollbar {
		height: 11px;
		background-color: rgba(200, 200, 200, .15);
		box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .15);
	}

	&::-webkit-scrollbar-thumb {
		background: rgba(200, 200, 200, .9);
		background-clip: padding-box;
		border: solid 3px transparent;
		border-bottom-width: 4px;
		border-radius: 8px;
	}

}

.arkb-tabList__item {
	text-align: center;

}

[data-tab-width="auto"] {

	.arkb-tabList {
		flex-wrap: wrap;
	}

	.arkb-tabList__button {
		min-width: 5em;
		padding-right: 1.25em;
		padding-left: 1.25em;
	}
}

[data-tab-width="fix"] {

	.arkb-tabList {
		flex-wrap: wrap;
	}

	.arkb-tabList__item {
		flex-basis: 50%;

		@include pc {
			flex-basis: 25%;
		}

	}

}

[data-tab-width="equal"] {

	.arkb-tabList__item {
		flex-basis: 50%;
	}
}


.arkb-tabList__button {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	padding: 1em;
	// color: var(--ark-color_text);
	color: inherit;
	font-size: 13px;
	line-height: 1;
	background-color: var(--ark-color_gray, rgba(200, 200, 200, .15));
	border: none;
	transition: background-color .25s, color .25s;


	@include tab {
		font-size: 14px;
	}

	&:hover {
		outline: none; //マウス操作ではアウトライン非表示
	}

	&[aria-selected="true"] {
		color: #fff;
		background-color: #000;
	}
}



@keyframes FloatHorizontal {

	0% {
		transform: translate3d(4px, 0, 0);
	}

	50% {
		transform: translate3d(-4px, 0, 0);
	}

	100% {
		transform: translate3d(4px, 0, 0);
	}
}

@include sp {

	.-scrollable-sp {

		&.ark-block-tab {
			position: relative;

			&::after {
				position: absolute;
				right: -2px;
				bottom: 100%;
				padding: 2px 12px 2px 4px;
				color: #333;
				font-weight: 400;
				font-size: 13px;
				// font-family: icomoon !important;
				line-height: 1;
				letter-spacing: -2px;
				background: #fff;
				border-radius: 8px;
				box-shadow: 0 0 8px rgba(0, 0, 0, .1);
				animation: FloatHorizontal 3s ease-in-out infinite alternate;
				// content: "\e921\e921"; //930
				content: ">>"; //930
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				// @extend .icon-file-empty::before;
			}
		}

		.arkb-tabList {
			z-index: 1;
			flex-wrap: nowrap !important;
			justify-content: flex-start;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			scroll-behavior: smooth;
		}

		.arkb-tabList__item {
			flex-shrink: 0;
		}

		[data-tab-width="fix"] .arkb-tabList__item,
		[data-tab-width="equal"] .arkb-tabList__item {
			flex-basis: auto;
			min-width: 30%;
		}
	}
}

@include pc {

	.-scrollable-pc {

		.arkb-tabList {
			z-index: 1;
			flex-wrap: nowrap !important;
			justify-content: flex-start;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			scroll-behavior: smooth;
		}

		.arkb-tabList__item {
			flex-shrink: 0;
		}

		[data-tab-width="fix"] .arkb-tabList__item,
		[data-tab-width="equal"] .arkb-tabList__item {
			flex-basis: auto;
			min-width: 20%;
		}

	}
}


.arkb-tabBody {
	position: relative;
	// margin-top: -1px;
	padding: 1.5em;
	// border: solid 1px var(--color_text);
}

.arkb-tabBody__content {
	position: relative;
	width: 100%;

	&[aria-hidden="true"] {
		display: none;
	}
}
